<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>622372291335-3cmfbet03d8qir2tk9iq4fh78av06q2d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.622372291335-3cmfbet03d8qir2tk9iq4fh78av06q2d</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>622372291335-jouc7fdaje43vps54khk377728l759ch.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAw9m5xO2zxG_ArreTxeavRopcCGWeZVy0</string>
	<key>GCM_SENDER_ID</key>
	<string>622372291335</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.clarenceh.timeTrackerFlutterCourse</string>
	<key>PROJECT_ID</key>
	<string>time-tracker-flutter-cou-c3831</string>
	<key>STORAGE_BUCKET</key>
	<string>time-tracker-flutter-cou-c3831.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:622372291335:ios:e622956a7a5ea0922bbba2</string>
	<key>DATABASE_URL</key>
	<string>https://time-tracker-flutter-cou-c3831.firebaseio.com</string>
</dict>
</plist>